body {
	background-color:white;
}

.leftBar {
		width:80px;
		height:100%;
		background:white;
		position:fixed;
		box-shadow: 1px 1px 5px #7d808d;
		z-index: 2;
		border-collapse:collapse;
    display: table;
	}
	.leftBar .logo {
		width:100%;
	}
	main {
		transform:translate(20%,0);
	}
	#contactTable {
		display: table-row;
    vertical-align : bottom;
    height: 1px;
		text-align: center;
	}
	#contactTable a{
		background:white;
		font-size:4em;
		margin:0;
	}
	.menuButton {
		font-size:2.5em;
		text-align: center;
		margin:0;
		display:inline-block;
		margin-top:0;
		color:black;
		padding:0.3em;
		width:100%;
	}
	#drawer {
  	margin: 0;
		position:absolute;
		background-color: white;
		transform:translate(-48%,0);
		transition:transform 0.3s ease;
		font-family: 'Glegoo', serif;
		font-size: 20px;
		color:black;
		z-index: 1;
		border-radius:5%;
		box-shadow: 1px 1px 5px #7d808d;
	}
	#drawer.open {
		transform:translate(36%,0);
		
		position:fixed;
		background:white;
	}
	#drawer li{
		list-style-type: none;
		padding-right: .5em;
		padding-top:.5em;
		margin:0;
		text-align:right;
		display:block;
		background:white;
		color:yellow;
		
		transition:transform 0.3s ease;
	}
	
	
@media screen and (max-width:425px) {
	
	
	#menuClose {
		margin-left:4.5em;
		/* prevents margin collapse */
		display:inline-block; 
		margin-top:1em;
		padding: 0.6em
	}
	
	#homeSection img {
		width:80%;
		text-align: center;
	}
	#homeSection h1 {
		font-size:2.45.em;
		text-align: center;
		display:inline-block;
		line-height: 1.5em;
		width:80%;
		margin:0;
	}
	#homeSection h2 {
		font-size:0.6em;
		text-align: center;
		width:80%;
		margin:0;
	}
}

/*
#homeSection h1 {
  position:absolute;
  width:48%;
  top:0;
  left:auto;
  font-family: 'Six Caps', sans-serif;
  font-size: 60px;
  color: black;
  letter-spacing:1px;
  font-family: 'Glegoo', serif;
}
#homeSection h2 {
  font-size:31px;
  width:99%;
}

#sectionTitle h3{
    position:absolute;
    top:0%;
    left:5%;
    color:white;
    font-size: 35px;
}*/
#projectsSection {
    /*background: linear-gradient(-70deg, #A8F0B2, #E2F9E5);*/
	text-align: center;
	width:80%;
	margin:0;
}
#projectsSection img{
	width:90%;
	margin:2%;
	border-radius:2%
}
#aboutSection {
  /*  
		background: linear-gradient(-70deg, #66A2D9 ,#C9E0F5);
    position:relative;
    height:330px;*/
	position:relative;
	width:80%;
	text-align: center;
}
#aboutSection img {
  width: 90%;
	border-radius:50%;
}
#aboutSection p {
	width: 100%;
	padding:5% 15% 5% 15%;
}
#contactSection {
  margin: 0;
  padding: 0;
}

#footerSection{
  width:80%;
	text-align:center;
  /*height:100px;
  padding-top: 40px;
  position: relative;*/
  /*background-image:url("https://t4.ftcdn.net/jpg/00/16/53/91/240_F_16539161_uDhRDSarSJ7mffDK4XwEdKRfyez4elCP.jpg");
  height:100px;
  border: 3px solid black;*/

}
#footerSection p {
	width:100%;
}
.about-me {
  margin-left:90px;
  font-family: 'Marcellus';
}
