body {
	background-color:white;
}

.leftBar {
		width:80px;
		height:100%;
		background:white;
		position:fixed;
		margin:0;
		top:0;
		box-shadow: 1px 1px 5px #7d808d;
		z-index: 2;
		border-collapse:collapse;
    display: table;
	}
	.leftBar .logo {
		width:100%;
	}
	main {
		transform:translate(80px,0);
	}
	#contactTable {
		display: table-row;
    vertical-align : bottom;
    height: 1px;
		text-align: center;
	}
	#contactTable a{
		background:white;
		font-size:4em;
		margin:0;
	}
	.menuButton {
		font-size:2.5em;
		text-align: center;
		margin:0;
		display:inline-block;
		margin-top:0;
		color:black;
		padding:0.3em;
		width:100%;
	}
	#drawer {
  	margin: 0;
		position:fixed;
		background-color: white;
		transform:translateX(-48%);		
		transition:transform 0.4s ease;
		font-family: 'Glegoo', serif;
		font-size: 20px;
		color:black;
		z-index: 1;
		border-radius:5%;
		box-shadow: 1px 1px 5px #7d808d;
	}
	#drawer.open {
		transform:translate(36%,0);
		
		position:fixed;
		background:white;
	}
	#drawer li{
		list-style-type: none;
		padding-right: .5em;
		padding-top:.5em;
		margin:0;
		text-align:right;
		display:block;
		background:white;
		color:yellow;
		
		transition:transform 0.3s ease;
	}
	
	
@media screen and (max-width:650px) {
	
	#homeSection img {
		width:80%;
		text-align: center;
	}
	#homeSection h1 {
		font-size:2.45.em;
		text-align: center;
		display:inline-block;
		line-height: 1.5em;
		width:80%;
		margin:0;
	}
	#homeSection h2 {
		font-size:0.6em;
		text-align: center;
		width:80%;
		margin:0;
	}
	#projectsSection {
    /*background: linear-gradient(-70deg, #A8F0B2, #E2F9E5);*/
	text-align: center;
	width:80%;
	margin:0;
}
#projectsSection img{
	width:90%;
	margin:2%;
	border-radius:2%
}
#aboutSection {
  /*  
		background: linear-gradient(-70deg, #66A2D9 ,#C9E0F5);*/
	position:relative;
	width:80%;
	text-align: center;
	
}
#aboutSection img {
  width: 80%;
	padding:0;
	margin:0;
	border-radius:50%;
}
#aboutSection p {
	width:80%;
	margin-top:0;
	padding:5% 3% 5% 3%;
	display: inline-block;
	vertical-align: middle;
}
#footerSection{
  width:80%;
	text-align:center;

}
#footerSection p {
	width:100%;
}
}

@media screen and (min-width:651px) and (max-width:959px) {
	#homeSection{
		width:calc(100% - 80px);
		text-align: center;
	}
	#homeSection h1{
		text-align: center;
	}
		#projectsSection {
    /*background: linear-gradient(-70deg, #A8F0B2, #E2F9E5);*/
	text-align: center;
	width:calc(100% - 80px);
	margin:0;
}
#projectsSection img{
	width:230px;
	display:inline-block;
	flex-wrap:wrap;
	margin:0.5%;
	border-radius:2%
}
	#aboutSection {
  /*  
		background: linear-gradient(-70deg, #66A2D9 ,#C9E0F5);*/
	position:relative;
width:calc(100% - 80px);
	text-align: center;
	
}
#aboutSection img {
  width: 50%;
	padding:0;
	margin:0;
	border-radius:50%;
	display: inline-block;
	line-height: 1.5em;
	text-align: center;
	vertical-align: middle;
}
#aboutSection p {
	width:45%;
	margin-top:0;
	padding:5% 3% 5% 3%;
	display: inline-block;
	line-height: 1.5em;
	vertical-align: middle;
}
#footerSection{
width:calc(100% - 80px);
	text-align:center;
	margin:3%;

}
#footerSection p {
	width:100%;
}	

}
@media screen and (min-width:960px) {
	main {
		width: 960px;
		margin: 0 auto;
		text-align: center;
	}
	
	#homeSection{
		width:calc(100% - 80px);
		text-align: center;
	}
	#homeSection h1{
		text-align: center;
	}
		#projectsSection {
    /*background: linear-gradient(-70deg, #A8F0B2, #E2F9E5);*/
	text-align: center;
	width:calc(100% - 80px);
	margin:0;
}
#projectsSection img{
	width:230px;
	display:inline-block;
	flex-wrap:wrap;
	margin:0.5%;
	border-radius:2%
}
	#aboutSection {
  /*  
		background: linear-gradient(-70deg, #66A2D9 ,#C9E0F5);*/
	position:relative;
width:calc(100% - 80px);
	text-align: center;
	
}
#aboutSection img {
  width: 50%;
	padding:0;
	margin:0;
	border-radius:50%;
	display: inline-block;
	line-height: 1.5em;
	text-align: center;
	vertical-align: middle;
}
#aboutSection p {
	width:45%;
	margin-top:0;
	padding:5% 3% 5% 3%;
	display: inline-block;
	line-height: 1.5em;
	vertical-align: middle;
}
#footerSection{
width:calc(100% - 80px);
	text-align:center;
	margin:3%;

}
#footerSection p {
	width:100%;
}	

}
